[submodule "backend/common/services"]
	path = backend/common/services
	url = https://github.com/nightv1sion/night-cloud-backend-shared-services
	branch = master
[submodule "backend/common/routes"]
	path = backend/common/routes
	url = https://github.com/nightv1sion/night-cloud-backend-shared-routes
	branch = master
[submodule "backend/common/queue-messaging"]
	path = backend/common/queue-messaging
	url = https://github.com/nightv1sion/night-cloud-backend-shared-queue-messaging
	branch = master
[submodule "backend/common/middlewares"]
	path = backend/common/middlewares
	url = https://github.com/nightv1sion/night-cloud-backend-shared-middlewares
	branch = master
[submodule "backend/common/database-infrastructure"]
	path = backend/common/database-infrastructure
	url = https://github.com/nightv1sion/night-cloud-backend-shared-database-infrastructure
	branch = master
[submodule "backend/microservices/storage"]
	path = backend/microservices/storage
	url = https://github.com/nightv1sion/night-cloud-backend-microservices-storage
	branch = master
[submodule "backend/microservices/files"]
	path = backend/microservices/files
	url = https://github.com/nightv1sion/night-cloud-backend-microservices-files
	branch = master
[submodule "backend/microservices/authentication"]
	path = backend/microservices/authentication
	url = https://github.com/nightv1sion/night-cloud-backend-microservices-authentication
	branch = master
[submodule "backend/api-gateways/ocelot-api-gateway"]
	path = backend/api-gateways/ocelot-api-gateway
	url = https://github.com/nightv1sion/night-cloud-backend-api-gateways-ocelot-api-gateway
	branch = master
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/nightv1sion/night-cloud-infrastructure
	branch = master
