[submodule "Infrastructure"]
	path = Infrastructure
	url = https://github.com/nightv1sion/night-cloud-infrastructure
[submodule "Backend/ApiGateways/OcelotApiGateway"]
	path = Backend/ApiGateways/OcelotApiGateway
	url = https://github.com/nightv1sion/night-cloud-backend-api-gateways-ocelot-api-gateway
[submodule "Backend/Microservices/Authentication"]
	path = Backend/Microservices/Authentication
	url = https://github.com/nightv1sion/night-cloud-backend-microservices-authentication
[submodule "Backend/Microservices/Files"]
	path = Backend/Microservices/Files
	url = https://github.com/nightv1sion/night-cloud-backend-microservices-files
[submodule "Backend/Microservices/Storage"]
	path = Backend/Microservices/Storage
	url = https://github.com/nightv1sion/night-cloud-backend-microservices-storage
[submodule "Backend/Shared/DatabaseInfrastructure"]
	path = Backend/Shared/DatabaseInfrastructure
	url = https://github.com/nightv1sion/night-cloud-backend-shared-database-infrastructure
[submodule "~/Backend/Shared/Middlewares"]
	path = ~/Backend/Shared/Middlewares
	url = https://github.com/nightv1sion/night-cloud-backend-shared-middlewares
[submodule "sub"]
	path = Backend/Shared/QueueMessaging
	url = https://github.com/nightv1sion/night-cloud-backend-shared-queue-messaging
[submodule "Backend/Shared/Routes"]
	path = Backend/Shared/Routes
	url = https://github.com/nightv1sion/night-cloud-backend-shared-routes
[submodule "Backend/Shared/Services"]
	path = Backend/Shared/Services
	url = https://github.com/nightv1sion/night-cloud-backend-shared-services